.cover {
  @extend %cover;

  .enhanced & {
    margin-bottom: -133.33333%;
    padding-bottom: 133.33333%;

    @include mq('medium') {
      margin-bottom: -75%;
      padding-bottom: 75%;
    }

    @include mq('x-large') {
      margin-bottom: -56.25%;
      padding-bottom: 56.25%;
    }
  }

}

.cover__image {
  @extend %cover;

  background: #b1493f url(http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg);
  background-size: 100%;

  .enhanced & {
    left: 0;
    width: 100%;
  }
}

.cover__mask {
  .enhanced & {
    @include mq('medium') {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.85);
    }
  }
}

.cover__content {
  @extend %cover-content;

  .enhanced & {
    height: 50%;
  }
}
