%cover {
  position: relative;
  height: 100vh;
}

%cover-overlap {
  padding-bottom: 100vh;
  margin-bottom: -100vh;
}

%cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  @extend %cover;
  background: #362f2d;

  .enhanced & {
    @extend %cover-overlap;
  }

}

.cover__image {
  @extend %cover;
  left: 0;
  width: 100%;
  background-position: center;
  background-size: cover;

  // image-set() isn't widely available yet
  @include mq($until: 'medium', $and: '(orientation: portrait)') {
    background-image: url('/images/hero-portrait-640.jpg');
  }

  @include mq($from: 'medium', $and: '(orientation: portrait)') {
    background-image: url('/images/hero-portrait-1280.jpg');
  }

  @include mq($until: 'medium', $and: '(orientation: landscape)') {
    background-image: url('/images/hero-landscape-960.jpg');
  }

  @include mq($from: 'medium', $and: '(orientation: landscape)') {
    background-image: url('/images/hero-landscape-1600.jpg');
  }
}

.cover__mask {
  .enhanced & {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    will-change: opacity;
  }
}

.cover__content {
  @extend %cover-content;

  .enhanced & {
    height: 50%;
  }
}
