%cover {
  position: relative;
  height: 640px;
  height: 100vh;
}

%cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  @extend %cover;
}

.cover__content {
  @extend %cover-content;
}

.cover__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  // Allow for browser chrome
  height: calc(100% + 60px);
  background: center top no-repeat;
  // container size may change if browser chrome is shown/hidden =(
  background-size: cover;

  // image-set() isn't widely available yet
  @include mq($until: 'large', $and: '(orientation: portrait)') {
    background-image: url('/images/hero-portrait-480.jpg');
  }

  @include mq($from: 'medium', $and: '(orientation: portrait)') {
    background-image: url('/images/hero-portrait-960.jpg');
  }

  @include mq($until: 'medium', $and: '(orientation: landscape)') {
    background-image: url('/images/hero-landscape-960.jpg');
  }

  @include mq($from: 'medium', $and: '(orientation: landscape)') {
    background-image: url('/images/hero-landscape-1600.jpg');
  }

  .core & {
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hero-landscape-960.jpg', sizingMethod='scale')";
  }

  .enhanced & {
    // No background-attachment: fixed on iOS
    position: fixed;
  }

}

.cover__image__mask {
  .enhanced & {
    @extend %cover-content;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.1s;
    will-change: opacity;
  }
}

