.hero {
  .share__icon {
    // Match text shadow
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
  }
}

.hero__content {
  text-align: center;

  @include mq('medium') {
    text-align: left;
  }

  > * {
    margin: 0 0 paragraph-spacing('small');

    @include mq('medium') {
      margin-bottom: paragraph-spacing('medium');
    }
  }
}

.hero__heading {
  font-family: oFontsGetFontFamilyWithFallbacks('MetricWeb');
  text-transform: uppercase;
}

.hero__subtitle {}

.hero__credit {
  font-style: italic;
}
