.hero {
  position: relative;

  .share {
    margin-top: 16px;

    @include mq('medium') {
      margin-top: 25px;
    }
  }

  .share__icon {
    // Match text shadow
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
  }
}

.hero__content {
  text-align: center;

  @include mq('medium') {
    text-align: left;
  }

  > * {
    margin: 0 0 paragraph-spacing('small');

    @include mq('medium') {
      margin-bottom: paragraph-spacing('medium');
    }

    @include mq('large') {
      margin-bottom: paragraph-spacing('large');
    }
  }
}

.hero__heading {
  font-family: oFontsGetFontFamilyWithFallbacks('MetricWeb');
  text-transform: uppercase;
}

.hero__subtitle {}

.hero__credit {
  display: none;
  font-style: italic;

  @include mq('medium') {
    display: block;
  }
}

@keyframes bobble {
    0% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.hero__cta {
  display: none;

  .enhanced & {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    font-family: oFontsGetFontFamilyWithFallbacks('MetricWeb');
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: bobble 2s infinite;

    &::after {
      content: '';
      display: block;
      height: 2em;
      background: url('../images/ui/scroll-arrow.svg') no-repeat center bottom;
      background-size: 50% auto;
      // match text shadow
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
    }

    @include mq('medium') {
      display: inline;
    }
  }
}
