.hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @include mq('medium') {
    position: static;
    width: auto;
  }
}

.hero__content {
  text-align: center;

  @include mq('medium') {
    text-align: left;
  }

  > * {
    margin: 0 0 12px;

    @include mq('medium') {
      margin-bottom: 16px;
    }
  }
}

.hero__heading {
  text-transform: uppercase;
}

.hero__subtitle,
.hero__credit {
  font-family: oFontsGetFontFamilyWithFallbacks('FinancierDisplayWeb');
}

.hero__subtitle {}

.hero__credit {
  font-style: italic;
}
