.masthead {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  white-space: nowrap;
  color: #ffffff;

  @include mq($from: 'medium') {
    padding: 20px layout-padding('left', 'medium');
  }

  @include mq($from: 'large') {
    padding: 26px layout-padding('left', 'large');
  }

}

.masthead__logo {
  float: left;
  margin-right: 12px;

  @include mq('medium') {
    margin-right: 20px;
  }
}

.masthead__logo--icon {
  @include mq('medium') {
    display: none;
  }
}

.masthead__logo--full {
  display: none;

  @include mq('medium') {
    display: block;
  }
}

.masthead__tagline {
  font-family: oFontsGetFontFamilyWithFallbacks('MetricWeb');
  margin: 0;
  text-transform: uppercase;
  // Match logo size
  font-size: 21px;
  line-height: 20px;

  @include mq('medium') {
    // Match logo size
    font-size: 24px;
    line-height: 18px;

    &::before {
      content: '|';
      margin-right: 20px;
    }
  }
}
