.masthead {
  @extend %layout-padding;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  white-space: nowrap;
  color: #ffffff;
}

.masthead__logo {
  float: left;
  margin-right: 12px;

  @include mq('medium') {
    margin-right: 20px;
  }
}

.masthead__logo--icon {
  @include mq('medium') {
    display: none;
  }
}

.masthead__logo--full {
  display: none;

  @include mq('medium') {
    display: block;
  }
}

.masthead__tagline {
  font-family: oFontsGetFontFamilyWithFallbacks('MetricWeb');
  margin: 0;
  text-transform: uppercase;
  // Match logo size
  line-height: 24px;

  @include mq('medium') {
    // Match logo size
    line-height: 18px;

    &::before {
      content: '|';
      margin-right: 20px;
    }
  }
}
