.pagination {
  display: none;

  .enhanced & {
    position: fixed;
    top: 0;
    right: layout-padding('right', 'small') / 2;
    z-index: 10;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    will-change: opacity;

    @include mq('medium') {
      display: table;
    }

    @include mq('large') {
      right: layout-padding('right', 'large') / 2;
    }

    &.is-active {
      opacity: 1;
    }
  }
}

.pagination__list {
  display: table-cell;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
}

.pagination__item {
  margin: 10px 0;
}

.pagination__button {
  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ffffff;
    opacity: 0.5;
    transition: opacity 0.5s;
    will-change: opacity;
  }

  &.is-selected {
    &::before {
      opacity: 1;
    }
  }
}
