.section {
  position: relative;
  color: #e7e8e7;
}

.section__cover {
  padding-top: percentage((1 / 16) * 9);

  @include mq($until: 'medium', $and: '(orientation: portrait)') {
    padding-top: percentage((1 / 9) * 16);
  }
  @include mq($from: 'medium', $and: '(orientation: portrait)') {
    padding-top: percentage((1 / 3) * 4);
  }
}

.section__wrapper {
  @extend %layout-padding;
}

.section__content {
  margin-bottom: layout-margin('bottom', 'large');

  p,
  footer,
  blockquote {
    margin: paragraph-spacing('medium') 0 0;

    @include mq('medium') {
      margin-top: paragraph-spacing('large');
    }
  }
}

.section__cta {
  font-family: oFontsGetFontFamilyWithFallbacks('MetricWeb');
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: text-indent 0.5s;

  &:before {
    content: '';
    position: relative;
    top: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url('../images/ui/red-arrow.svg') no-repeat left center;
    transition: margin 0.5s;
  }

  &:hover:before {
    margin-right: 0.5em;
  }
}

.section--story {
  .section__wrapper {
    position: relative;
    z-index: 1;
    outline: 10px solid;

    @include mq('medium') {
      outline-width: 20px;
    }
  }
}

.section--nigeria {
  .section__cover {
    @include cover-image('nigeria');
  }

  .section__wrapper {
    outline-color: rgba(#051e39, 0.5);
    background: #051e39;
  }
}

.section--china {
  .section__cover {
    @include cover-image('china');
  }

  .section__wrapper {
    outline-color: rgba(#29281e, 0.5);
    background: #29281e;
  }
}

.section--nepal {
  .section__cover {
    @include cover-image('nepal');
  }

  .section__wrapper {
    outline-color: rgba(#3e0d3e, 0.5);
    background: #3e0d3e;
  }
}

.section--united-kingdom {
  .section__cover {
    @include cover-image('uk');
  }

  .section__wrapper {
    outline-color: rgba(#358182, 0.5);
    background: #358182;
  }
}

.section--brazil {
  .section__cover {
    @include cover-image('brazil');
  }

  .section__wrapper {
    outline-color: rgba(#0b1e0f, 0.5);
    background: #0b1e0f;
  }
}
