.section {
  position: relative;
  color: #e7e8e7;

  &.in-viewport {
    // background: yellow !important;
  }
}

.section__cover {
  padding-top: percentage((1 / 16) * 9);

  @include mq($until: 'medium', $and: '(orientation: portrait)') {
    padding-top: percentage((1 / 9) * 16);
  }
  @include mq($from: 'medium', $and: '(orientation: portrait)') {
    padding-top: percentage((1 / 3) * 4);
  }
}

.section__cover__content {
  @extend %cover-content;
}

.section__wrapper {
  @extend %layout-padding;
}

.section__share {}

.section__content {
  font-family: oFontsGetFontFamilyWithFallbacks('FinancierDisplayWeb');
}

.section__heading {}

.section__cta {}

.section--introduction {
  @extend %cover;
  background: #333333;

  .enhanced & {
    background: none;
  }

  .section__wrapper {
    @extend %cover-content;
    display: table;
  }

  .section__content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  }
}

.section--story {
  .section__wrapper {
    outline: 20px solid;
  }
}

.section--nigeria {
  .section__cover {
    @include cover-image('nigeria');
  }

  .section__wrapper {
    outline-color: rgba(#051e39, 0.5);
    background: #051e39;
  }
}

.section--china {
  .section__cover {
    @include cover-image('china');
  }

  .section__wrapper {
    outline-color: rgba(#29281e, 0.5);
    background: #29281e;
  }
}

.section--nepal {
  .section__cover {
    @include cover-image('nepal');
  }

  .section__wrapper {
    outline-color: rgba(#3e0d3e, 0.5);
    background: #3e0d3e;
  }
}

.section--united-kingdom {
  .section__cover {
    @include cover-image('uk');
  }

  .section__wrapper {
    outline-color: rgba(#358182, 0.5);
    background: #358182;
  }
}

.section--brazil {
  .section__cover {
    @include cover-image('brazil');
  }

  .section__wrapper {
    outline-color: rgba(#0b1e0f, 0.5);
    background: #0b1e0f;
  }
}
