.section {
  position: relative;
  color: #e7e8e7;
  color: rgba(255, 255, 255, 0.9);
}

.section__artwork,
.section__parallax {
  padding-top: percentage((1 / 16) * 9);
}

.section__artwork {
  .enhanced & {
    @include mq($and: '(orientation: portrait)') {
      padding-top: percentage((1 / 9) * 16);
    }

    @include mq('medium') {
      // Hand over to .section__parallax
      display: none !important;
    }
  }
}

.section__parallax {
  display: none;

  .enhanced & {
    @include mq('medium') {
      display: block;
    }
  }
}

.section__wrapper {
  @extend %layout-padding;
}

.section__content {
  p,
  footer,
  blockquote {
    margin: paragraph-spacing('small') 0 0;
  }

  blockquote > footer {
    font-style: italic;
  }
}

.section__cta {
  display: inline-block;
  border: 2px solid #ffffff;
  // Match social.svg
  border-color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  padding: 9px 14px;
  font-family: oFontsGetFontFamilyWithFallbacks('MetricWeb');
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: inherit;
  transition: all 0.5s;

  @include mq('medium') {
    margin-top: 25px;
    padding-right: 28px;
    padding-left: 28px;
  }

  &:hover,
  &:focus {
    color: #333333;
    background: #ffffff;
    border-color: #ffffff;
  }
}

.section--story {
  .section__wrapper {
    position: relative;
    z-index: 1;
    outline: 20px solid;
  }
}

.section--nigeria {
  $bgcolor: #051e39;

  .section__artwork,
  .section__parallax {
    background-color: darken($bgcolor, 5%);
  }

  .section__artwork {
    @include responsive-background('nigeria');
  }

  .section__wrapper {
    outline-color: rgba($bgcolor, 0.5);
    background: $bgcolor;
  }
}

.section--china {
  $bgcolor: #29281e;

  .section__artwork,
  .section__parallax {
    background-color: darken($bgcolor, 5%);
  }

  .section__artwork {
    @include responsive-background('china');
  }

  .section__wrapper {
    outline-color: rgba($bgcolor, 0.5);
    background: $bgcolor;
  }
}

.section--nepal {
  $bgcolor: #3e0d3e;

  .section__artwork,
  .section__parallax {
    background-color: darken($bgcolor, 5%);
  }

  .section__artwork {
    @include responsive-background('nepal');
  }

  .section__wrapper {
    outline-color: rgba($bgcolor, 0.5);
    background: $bgcolor;
  }
}

.section--united-kingdom {
  $bgcolor: #358182;

  .section__artwork,
  .section__parallax {
    background-color: darken($bgcolor, 5%);
  }

  .section__artwork {
    @include responsive-background('uk');
  }

  .section__wrapper {
    outline-color: rgba($bgcolor, 0.5);
    background: $bgcolor;
  }
}

.section--brazil {
  $bgcolor: #0b1e0f;

  .section__artwork,
  .section__parallax {
    background-color: darken($bgcolor, 5%);
  }

  .section__artwork {
    @include responsive-background('brazil');
  }

  .section__wrapper {
    outline-color: rgba($bgcolor, 0.5);
    background: $bgcolor;
  }
}
