.share {}

.share__icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-decoration: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/ui/social.png') no-repeat;
    background-image: linear-gradient(transparent, transparent), url('../images/ui/social.svg');
    background-size: auto 40px;
    transition: opacity 0.5s;
  }

  &:before {
    background-position: center top;
    opacity: 1;
  }

  &:after {
    background-position: center bottom;
    opacity: 0;
    // Hide for old IE
    display/*\**/: none\9;
  }

  &:hover:before {
    opacity: 0;
  }

  &:hover:after {
    opacity: 1;
  }

  .share--center & {
    margin-right: 5px;
    margin-left: 5px;
  }

}

.share__icon--twitter {
  &:before {
    background-position: 0 0;
  }
  &:after {
    background-position: 25% 0;
  }
}

.share__icon--facebook {
  &:before {
    background-position: 50% 0;
  }
  &:after {
    background-position: 75% 0;
  }
}
