.js-sticky-parent {
  position: relative;
}

.js-sticky-thing {
  .core & {
    display: none;
  }

  // Keep top/bottom positioning as 0 and use padding to offset any contents.
  // If an alternative top/bottom position is required then the JS must be
  // to be updated to handle these offsets (which is _a lot_ more complex).

  .enhanced & {
    position: absolute;
    top: 0;

    &.is-sticky {
      position: fixed;
    }

    &.is-bottom {
      top: auto;
      bottom: 0;
    }
  }

}
