.partition--header {
  .enhanced & {
    height: 100vh;

    @include mq('medium') {
      // We need to overlap two sticky element containers:
      // - The header (with sticky cover image)
      // - The main story section (with sticky navigation)

      // So the strategy is to make the first double height..
      height: 200vh;

      & + .partition {
        // ... then pull the next container up to overlap...
        margin-top: -100vh;

        > section:first-of-type {
          // ... and fill the space with its first section.
          height: 100vh;
        }
      }
    }
  }
}

.partition__cover {
  .enhanced & {
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: #b1493f url(http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg);
    background-size: 100%;
  }
}

.partition__mask {
  .enhanced & {
    @include mq('medium') {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 35%,
        rgba(0, 0, 0, 0.875) 100%
      );
    }
  }
}
