%layout-margin {
  @include layout-margin('small');

  @include mq($from: 'medium') {
    @include layout-margin('medium');
  }

  @include mq($from: 'large') {
    @include layout-margin('large');
  }

}

%layout-padding {
  @include layout-padding('small');

  @include mq($from: 'medium') {
    @include layout-padding('medium');
  }

  @include mq($from: 'large') {
    @include layout-padding('large');
  }

}

%cover {
  position: relative;

  // 3x4
  padding-top: 133.33333%;

  @include mq('medium') {
    // 4x3
    padding-top: 75%;
  }

  @include mq('x-large') {
    // 16x9
    padding-top: 56.25%;
  }
}

%cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
