body {
  font-family: oFontsGetFontFamilyWithFallbacks('FinancierDisplayWeb');
  -webkit-font-smoothing: antialiased;
}

.t--super {
  @include responsive-text-size('super');
  font-kerning: normal;
}

.t--0 {
  @include responsive-text-size(0);
  font-kerning: normal;
}


.t--1 {
  @include responsive-text-size(1);
  font-kerning: normal;
}

.t--2 {
  @include responsive-text-size(2);
  font-kerning: normal;
}

.t--3 {
  @include responsive-text-size(3);
}

.t--4 {
  @include responsive-text-size(4);
}

.t--5 {
  @include responsive-text-size(5);
}

.t--6 {
  @include responsive-text-size(6);
}
