.u-clearfix {
  @include clearfix;
}

.u-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.u-container {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
}
